$font: 'Roboto',
sans-serif;
$color: #333333;

.no-active {
  padding-bottom: 2px;
  border-bottom: 1px solid #333333;
  font-weight: 900;
}

.container {
  margin: 0 auto;
  width: 900px;
}

@media (min-width: 1410px) {
  .container {
    width: 1200px;
  }
}

html,
body {
  font-family: $font;
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
  color: $color;

  &__title {
    cursor: pointer;
     font-size: 18px;
     letter-spacing: 0.08em;
     font-weight: 900;
     text-align: center;

    a {
      color: $color;
      font-size: 18px;
      letter-spacing: 0.08em;
      font-weight: 900;
      text-align: center;
    }

    h1 {
      font-size: 18px;
      letter-spacing: 0.08em;
      font-weight: 900;
      text-align: center;

      span {
        display: block;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 36px;
      }
    }
  }

  &__nav {
    flex: 0 1 50%;
  }

  &__list {
    display: flex;
    justify-content: space-around;

    a {
      color: $color;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__link {
    padding-bottom: 2px;
    transition: all 0.3 ease-in;
  }

  &__link:hover {
    border-bottom: 1px solid #333;
    transition: all 0.3 ease-in;
  }

  &__choice {
    cursor: pointer;
    background: #F2F2F2;
    border-radius: 190px;
    width: 54px;
    height: 30px;
  }

  &__choice--black {
    background: #1B1B1B;
  }

  &__change--white {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 50%;
  }

  &__change--black {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #4F4F4F;
    box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
    border-radius: 50%;
  }

  #change {
    display: none;
  }

  .hide-input {
    visibility: hidden;
  }
}
//Кнопка
.watch__btn {
  img {
    display: inline-block;
    padding-right: 5px;
  }
a {
  color: #FFFFFF;
}
  margin-top: 35px;
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border-radius: 3px;
  font-weight: 900;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

// Инпут ранже
.choice-slides {
  padding-top: 70px;
  margin: 0 auto;
  width: 245px;
  text-align: center;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}

.choice-index {
  color: #FEFEFE;
  font-size: 24px;
  line-height: 28px;
}

#range {
  -webkit-appearance: none;
  width: 245px;
  height: 5px;
  background: rgba(189, 189, 189, 0.57);
  outline: none;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 10px;
  background: #FEFEFE;
  cursor: pointer
}

.choice-slides--gray {
  .choice-index {
    color: #333333;
  }

  #range {
    margin-left: 0;
  }

  #range::-webkit-slider-thumb {
    background: #333333;
  }
}
//Map 
.map {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: 900px;
&__about {
  padding-top: 100px;
}
  &__title {
    margin-bottom: 35px;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
  }

  &__card {
    position: relative;
    width: 1200px;
    margin-left: 50%;
    transform: translate(-50%);

    img {
      max-width: 1200px;
    }
  }

  &__drop {
    position: absolute;
  }

  &__drop1 {
    top: 60px;
    left: 110px;
  }

  &__drop2 {
    top: 90px;
    left: 230px;
  }

  &__drop3 {
    top: 180px;
    left: 555px;
  }

  &__drop4 {
    top: 80px;
    left: 880px;
  }

  &__btn {
    text-align: center;
  }
}

.footer {
  padding-top: 100px;
  color: #FEFEFE;
  width: 100%;
  height: 750px;
  background: #333;

  &__wrapper {
    max-width: 1620px;
    margin: 0 auto;
  }

  &__head {
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
&__title {
  a span {
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 36px;
  }
}
  &__title>a {
    color: #FEFEFE;
  }

  &__nav {
    flex: 1 0 50%;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    margin-right: 120px;
    font-size: 16px;
    line-height: 19px;

    &:nth-child(3) {
      margin-right: 160px;
    }
  }

  &__link>a {
    color: #FEFEFE;
  }

  &__btn {
    margin: 0;
  }

  &__contacts {
    display: flex;
    margin-top: 60px;
    padding-bottom: 60px;
  }

  &__form {
    flex: 0 0 53%;
  }

  .form {
    display: flex;
    flex-direction: column;
    position: relative;

    &__title {
      padding-bottom: 33px;
      font-weight: 900;
      font-size: 20px;
      line-height: 23px;
      color: #FEFEFE;
    }

    &__req {
      width: 380px;
      margin-bottom: 20px;
      padding-bottom: 5px;
      background: transparent;
      border-bottom: 1px solid #E0E0E0;
      font-size: 14px;
      line-height: 16px;
      color: #E0E0E0;
    }

    &__text {
      background: #333;
      position: absolute;
      padding-left: 5px;
      padding-right: 5px;
      top: 78px;
      left: 7px;
      font-size: 12px;
      line-height: 14px;
      color: #BDBDBD;
    }

    textarea {
      width: 380px;
      height: 124px;
      margin-bottom: 20px;
      background: transparent;
      border: 1px solid #E0E0E0;
      border-radius: 5px;
      font-size: 14px;
      line-height: 16px;
      color: #E0E0E0;
    }

    &__consent {
      display: flex;
    }

    &__real {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &__fake {
      display: inline-block;
      margin-right: 5px;
      width: 13px;
      height: 13px;
      border: 1px solid #BDBDBD;
      box-sizing: border-box;
      border-radius: 1px;
    }

    &__check {
      display: inline;
      font-size: 12px;
      line-height: 14px;
      color: #BDBDBD;
    }

    &__btn {
      margin-left: -230px;
      margin-top: 15px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #FEFEFE;
      background-color: transparent;

      img {
        display: inline;
        padding-left: 25px;
        margin-top: 2px;
      }
    }

  }

  &__address {
    color: #FEFEFE;
  }

  .address__title {
    padding-bottom: 35px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FEFEFE;
  }

  .address__link {
    margin-bottom: 20px;

    a {
      color: #FEFEFE;
    }

  }

  &__icons {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__line {
    width: 100%;
    height: 0px;
    border: 0.5px solid #FEFEFE;
  }

  &__copyright {
    padding-top: 30px;
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD;

    li {
      padding-bottom: 5px;
    }
  }
}
// pets
.pets {
  width: 100%;
  height: 440px;
  padding-top: 100px;
  padding-bottom: 100px;

  &__wrapper {
    height: 240;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slider {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__slide {
    cursor: pointer;
  }

  img {
    max-width: 100%;
  }

  .arrow {
    cursor: pointer;
    transition: all 0.3 ease-in;
    &:hover {
      transform: rotate(15deg);
      transition: all 0.3 ease-in;
  }
}
}