.container {
  margin: 0 auto;
  width: 900px;
}

@media (min-width: 1410px) {
  .container {
    width: 1200px;
  }
}

html,
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 15vh;
  color: #333333;
}

.header__title {
  cursor: pointer;
}

.header__title a {
  color: #333333;
}

.header__title h1 {
  font-size: 18px;
  letter-spacing: 0.08em;
  font-weight: 900;
  text-align: center;
}

.header__title h1 span {
  display: block;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 36px;
}

.header__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__list a {
  color: #333333;
  font-size: 16px;
  line-height: 19px;
}

.header__link {
  padding-bottom: 2px;
  -webkit-transition: all 0.3 ease-in;
  transition: all 0.3 ease-in;
}

.header__link:hover {
  border-bottom: 1px solid #333;
  -webkit-transition: all 0.3 ease-in;
  transition: all 0.3 ease-in;
}

.header__choice {
  cursor: pointer;
  background: #F2F2F2;
  border-radius: 190px;
  width: 54px;
  height: 30px;
}

.header__choice--black {
  background: #1B1B1B;
}

.header__change--white {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 50%;
}

.header__change--black {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #4F4F4F;
  -webkit-box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
          box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
  border-radius: 50%;
}

.header #change {
  display: none;
}

.header .hide-input {
  visibility: hidden;
}

.footer {
  padding-top: 100px;
  color: #FEFEFE;
  width: 100%;
  height: 750px;
  background: #333;
}

.footer__wrapper {
  max-width: 1620px;
  margin: 0 auto;
}

.footer__head {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title > a {
  color: #FEFEFE;
}

.footer__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__link {
  margin-right: 120px;
  font-size: 16px;
  line-height: 19px;
}

.footer__link:nth-child(3) {
  margin-right: 160px;
}

.footer__link > a {
  color: #FEFEFE;
}

.footer__btn {
  margin: 0;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  padding-bottom: 60px;
}

.footer__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53%;
          flex: 0 0 53%;
}

.footer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.footer .form__title {
  padding-bottom: 33px;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #FEFEFE;
}

.footer .form__req {
  width: 380px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  background: transparent;
  border-bottom: 1px solid #E0E0E0;
  font-size: 14px;
  line-height: 16px;
  color: #E0E0E0;
}

.footer .form__text {
  background: #333;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  top: 78px;
  left: 7px;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
}

.footer .form textarea {
  width: 380px;
  height: 124px;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #E0E0E0;
}

.footer .form__consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .form__real {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer .form__fake {
  display: inline-block;
  margin-right: 5px;
  width: 13px;
  height: 13px;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1px;
}

.footer .form__check {
  display: inline;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
}

.footer .form__btn {
  margin-left: -230px;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FEFEFE;
  background-color: transparent;
}

.footer .form__btn img {
  display: inline;
  padding-left: 25px;
  margin-top: 2px;
}

.footer__address {
  color: #FEFEFE;
}

.footer .address__title {
  padding-bottom: 35px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FEFEFE;
}

.footer .address__link {
  margin-bottom: 20px;
}

.footer .address__link a {
  color: #FEFEFE;
}

.footer__icons {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__line {
  width: 100%;
  height: 0px;
  border: 0.5px solid #FEFEFE;
}

.footer__copyright {
  padding-top: 30px;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
}

.footer__copyright li {
  padding-bottom: 5px;
}

.main {
  position: relative;
}

.zoo {
  width: 100%;
  height: 910px;
}

.zoo__title {
  padding-top: 60px;
  padding-bottom: 40px;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}

.zoo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.zoo__video--mini {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.zoo__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.zoo__link {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 13px;
}

.zoo__link:nth-child(3) {
  margin-bottom: 35px;
}

.zoo__link span {
  display: block;
  padding-bottom: 6px;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
}

.pets__slider {
  position: absolute;
  top: 70px;
  left: 30px;
  height: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__slide {
  cursor: pointer;
}

.pets__slide img {
  max-width: 100%;
}

.arrow {
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.watch__btn {
  margin-top: 35px;
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border-radius: 3px;
  font-weight: 900;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.watch__btn img {
  display: inline-block;
  padding-right: 5px;
}
/*# sourceMappingURL=style__zoos.css.map */